@keyframes float-up {
	from {
		transform: translateY(6em) scale(0.9);
	}

	to {
		transform: none;
	}
}

@keyframes float-down {
	from {
		transform: translateY(-6em) scale(0.9);
	}

	to {
		transform: none;
	}
}

@keyframes float-left {
	from {
		transform: translateX(6em);
	}

	to {
		transform: none;
	}
}

@keyframes float-right {
	from {
		transform: translateX(-6em);
	}

	to {
		transform: none;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.float-up {
	animation: float-up var(--ease-out-smooth) 600ms;
}

.float-down {
	animation: float-down var(--ease-out-smooth) 600ms;
}

.float-left {
	animation: float-left var(--ease-out-smooth) 600ms;
}

.float-right {
	animation: float-right var(--ease-out-smooth) 600ms;
}

.fade-in {
	animation: fade-in 1s ease-in-out;
}

:root {
	--color-foreground: #f06e8e;
	--ease-out-smooth: cubic-bezier(0.1, 0.9, 0.2, 1);
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	color: #212121;
	font-size: 14px;
	line-height: 1.5;
	overflow-x: hidden;
	margin: 0;
}

@media screen and (prefers-color-scheme: dark) {
	body {
		color: #e5e4e4;
	}
}

body *,
body :after,
body :before {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	padding: 0;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Helvetica Neue', Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, Arial, sans-serif;
}

body ::-webkit-scrollbar {
	display: none;
}

aside,
footer,
form,
header,
main,
section {
	display: block;
}

body,
html {
	/* background-color: #efeff4; */
	background-color: white;
}

@media screen and (prefers-color-scheme: dark) {

	body,
	html {
		background-color: #212121;
	}
}

#page-index {
	width: 100vw;
	height: 100vh;
}

#page-index .banner-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/** BANNER */

.calibur-banner {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.calibur-banner .banner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 1;
	transition: opacity 1s ease-in-out;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.calibur-banner svg {
	/* width: 150%;
	height: 150%; */
	margin-top: -300px;
	margin-left: -200px;
}

#page-index .center-wrap {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
}

/** LOGO */
#page-index .logo-wrap {
	z-index: 10;
}

.calibur-logo {
	display: flex;
	justify-content: center;
}

.calibur-logo.has-shadow svg {
	filter: drop-shadow(0 4px 6px rgba(0, 0, 0, .1));
}

/** SEARCH */
#page-index .search-wrap {
	width: 600px;
	height: 50px;
	max-width: 100%;
}

.calibur-search {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 14px;
}

.calibur-search * {
	box-sizing: border-box;
}

.calibur-search .search-input {
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	background-color: hsla(0, 0%, 100%, .65);
	box-shadow: 0 5px 10px rgba(193, 159, 168, 0.3);
	border-radius: 6px;
	overflow: hidden;
}

.calibur-search .search-input-btn {
	float: right;
	height: 100%;
	width: 50px;
	border: 0;
	padding: 0;
	outline: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	transition: background-color 200ms;
	fill: #797173;
}

.calibur-search .search-input-btn:hover {
	background-color: rgba(0, 0, 0, .05);
}

@media screen and (prefers-color-scheme: dark) {
	.calibur-search .search-input-btn {
		fill: #e5e4e4;
	}

	.calibur-search .search-input-btn:hover {
		background-color: rgba(255, 255, 255, .05);
	}
}

.calibur-search .search-input-text {
	display: block;
	overflow: hidden;
	height: 100%;
}

.calibur-search .search-input-text input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	outline: none;
	border: none;
	padding: 8px 20px;
	font-size: 16px;
	color: #212121;
}

@media screen and (prefers-color-scheme: dark) {
	.calibur-search .search-input-text input {
		color: #e5e4e4;
	}
}

.links {
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	background-color: hsla(0, 0%, 100%, .65);
	box-shadow: 0 5px 10px rgba(193, 159, 168, 0.3);
	border-radius: 6px;
	width: 600px;
	max-width: 100%;
	margin-top: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 16px;
	padding-bottom: 5px;
	color: #797173;
}

@media screen and (prefers-color-scheme: dark) {
	.links {
		color: #e5e4e4;
	}

	.links,
	.calibur-search .search-input {
		background-color: hsla(0, 0%, 100%, .08);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	}
}

.links a {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity .2s;
}

.links a:hover {
	opacity: .8;
}

.links a svg {
	width: 100%;
}

.hidden {
	display: none;
}